@import '../../common/colors.scss';
.new-schema-container{
    border: 2px solid ;
    border-color: $border-line-color; 
    padding: 0px;
    margin-left: 10px;
    margin-right: 13px;
    margin-bottom: 10px;
    
}
